@tailwind base;
@tailwind components;
@tailwind utilities;
#short{
    display: -webkit-box;
    max-height: 5.2rem;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-height: 1.6rem;
}
#name{
    display: -webkit-box;
    max-height: 5.2rem;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 1.6rem;
}